* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

div.page1 > div.content {
  position: absolute;
}

ul.pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}


ul.pages > li {
  display: inline;
}

ul.pages > li > a.page {
  margin: 39px 12px;
  float: right;
  text-decoration: none;
  color: white
}

ul.pages > li > a.logo > img {
  height: 48px;
  width: 48px;
  padding: 24px;
}

div.page1 {
  position: relative;
}

div.page1 > img.background {
  position: absolute;
  width: 100vw;
}