body {
  margin: 0;
  padding: 0;
}

ul.pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  background-color: black;
}


ul.pages > li {
  display: inline;
}

ul.pages > li > a {
  display: block;
  padding: 16px;
  background-color: black;
  float: right;
}

ul.pages > img.logo {
  height: 12pt;
  width: 12pt;
  padding: 16px;
}